/*-----------------------------------------*/

table.gridtablesmall {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
    width:100%;
}
table.gridtablesmall th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtablesmall td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.gridtablesmall caption{
	color:#333333;
	font-size:1.0em;
	padding-left:5px;
    padding-top:1px;
    padding-bottom:1px;
	text-align:left;
}
/*----------------------------------------*/


fieldset.bmostyle {
	margin:0.3em 0;
	clear:both;
	font:1.0em arial, sans-serif;
	border: 1px solid #ddd;
	padding:0 0.5em 0.5em;
  }
fieldset.bmostyle legend {
 	color:#0b77b7;
	font-size:1.2em;
	padding-left:5px;
	text-align:left;
  }
fieldset.bmostyle fieldsetContent {
  margin: 0.5em 0.5em 0.5em 0.5em;
  }

fieldset.bmostyle div {
	margin:0.3em 0;
	clear:both;
	font:1.0em arial, sans-serif;

}
fieldset.bmostyle label {
	float:left;
	width:11em;
	text-align:right;
	margin-right:1em;
    color:#707070;
	/*vertical-align:center;*/
}

fieldset.bmostyle textarea {
	padding:0.15em;
	width:17em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 1.0em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

fieldset.bmostyle div span{
    padding-left:12em;
    float:left;
	font:1.0em arial, sans-serif;

}

fieldset.bmostyle input {
	padding:0.15em;
	width:12em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 1.0em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}
fieldset.bmostyle div input[type=button]{
	padding:0.15em;
	height:21px;
}
fieldset.bmostyle div input[type=submit]{
	padding:0.15em;
    background-color:grey;
    color:white;
    width:80px;
	/*width:auto;*/
}

fieldset.bmostyle div input[type=checkbox]{
	padding:0.15em;
	width:20px;
}

fieldset.bmostyle div input[type=file]{
	padding:0.15em;
	height:21px;
}
fieldset.bmostyle input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}

input[type=checkbox], input[type=radio] 
{ 
	width:20px;
}
